{% extends "StopGuessApp/baseCloud.html" %}
{% load static %}

{% load ctags %}

{% block title %}Comparison Graph{% endblock %}

{% block Bodycss %} cloud_body {% endblock %}

{% block content %}
    <script src="{% static '/js/Chart.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style type="text/css">
            <!--
            .style1 {font-size: 24px}
            .style2 {font-size: 14px; font-weight: bold; }
            .style3 {font-size: 14px; font-weight: bold; color: #F26624; }
            -->
        </style>
    <div id="wrapper">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="/StopGuessApp/CloudHome">Cloud Server</a>
                </li>
                <li><a href="/StopGuessApp/CloudLogout/">Logout</a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="header">
            <div id="logo">
                <h1><img src="{% static "Images/Key2.gif" %}" width="700" height="50"></img></h1>
            </div>
            <div id="search">
                <form method="get" action="">
                    <fieldset>
                        <input type="text" name="s" id="search-text" size="15" value="enter keywords here..."/>
                        <input type="submit" id="search-submit" value="GO"/>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="splash">&nbsp;</div>
        <!-- end #header -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                        <div class="post">
                            <h2 class="title" style="text-align: center;"><a href="#">Comparison of Performance with PAEKS & HEKS Schemes Graph</a></h2>
                            <div class="entry">
                                <p>&nbsp;</p>
                                <table width="600" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <section id="service" class="services-section">
                                                <div class="row">
{#                                                    <div class="section-title">#}
{#                                                        <h3 style="text-align: center;">{{ legend }}</h3>#}
{#                                                    </div>#}

                                                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                                                    <script>
                                                        // line chart data
                                                        const xValues = [0,25,50,75,100,125,150,175,200];
                                                        new Chart("myChart", {
                                                          type: "line",
                                                          data: {
                                                            labels: xValues,
                                                            datasets: [{
                                                                label: 'PAEKS',
                                                              data: [80,140,170,200,250,270,400,650,650,750],
                                                              borderColor: "green",
                                                              fill: false
                                                            }, {
                                                                label: 'HEKS',
                                                              data: [20,80,70,62,94,93,107,100,400,170],
                                                              borderColor: "blue",
                                                              fill: false
                                                            }]
                                                          },
                                                          options: {
                                                            legend: {display: true}
                                                          }
                                                        });
                                                    </script>
                                                </div>
                                            </section>
                                        </td>
                                    </tr>
                                </table>
                                <p>&nbsp;</p>
                                <p align="right"><a href="/StopGuessApp/CloudHome">Back</a></p>
                            </div>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                    <!-- end #content -->
                    <div id="sidebar">
                        <ul>
                            <li></li>
                            <li>
                                <h2>Menu</h2>
                                <ul>
                                    <li><a href="/StopGuessApp/CloudHome">Home</a></li>
                                    <li><a href="/StopGuessApp/CloudViewReceivers">View Receiver</a></li>
                                    <li><a href="/StopGuessApp/CloudSenderFiles">Sender Files</a></li>
                                    <li><a href="/StopGuessApp/CloudViewAttackers">View Attackers</a></li>
                                    <li><a href="/StopGuessApp/CloudFilesWithPublicKey">Files With Public Key</a></li>
                                    <li><a href="/StopGuessApp/CloudPublicKeyPermission">Public Key Permission</a></li>
                                    <li><a href="/StopGuessApp/CloudShareSecretKey">Share Secret Key</a></li>
                                    <li><a href="/StopGuessApp/CloudAttackersGraph">Attackers Graph</a></li>
                                    <li><a href="/StopGuessApp/CloudTrapdoorGraph">Trapdoor Graph</a></li>
                                    <li><a href="/StopGuessApp/CloudLogout/">Logout</a></li>
                                </ul>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">&nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <p>Copyright &copy; {% now "Y" %} StopGuess- A Framework for Public-key Authenticated Encryption with Keyword Search.</p>
        </div>
        <!-- end #footer -->
    </div>
{% endblock %}