{% extends "StopGuessApp/baseReceiver.html" %}
{% load static %}

{% block title %} Download File{% endblock %}

{% block Bodycss %}user_body{% endblock %}

{% block content %}
    <style type="text/css">
            <!--
            .style1 {font-size: 24px}
            .style2 {color: #712B77}
            .style3 {font-size: 14px}
            .style4 {font-size: 20px}
            .style5 {font-size: 14px; font-weight: bold; }
            -->
        </style>
    <div id="wrapper">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="/StopGuessApp/ReceiverHome">Data Receiver</a>
                </li>
                <li><a href="/StopGuessApp/ReceiverLogout/">Logout</a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="header">
            <div id="logo">
                <h1><img src="{% static "Images/Key2.gif" %}" width="700" height="50"></img></h1>
            </div>
            <div id="search">
                <form method="get" action="">
                    <fieldset>
                        <input type="text" name="s" id="search-text" size="15" value="enter keywords here..."/>
                        <input type="submit" id="search-submit" value="GO"/>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="splash">&nbsp;</div>
        <!-- end #header -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                        <div class="post">
                            <h2 class="title"><a href="#">File To Download</a></h2>
                            <div class="entry">
                                <p>&nbsp;</p>
                                <form action="/StopGuessApp/ReceiverDownloadFile/" method="post">
                                    {% csrf_token %}
                                    <p align="center" class="style15">&nbsp;</p>
                                    {% if Message %}
                                        <h1 class="style4">{{ Message }}</h1>
                                    {% else %}
                                    <table width="475" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                        <tr>
                                            <td width="223"><span class="style18">File Name </span></td>
                                            <td width="245"><label>
                                                <input name="filename" type="text" value="{{ fileData.0 }}" required="required" class="box" style="width: 300px;"/></label></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="34"><span class="style18">Trapdoor </span></td>
                                            <td><input name="trapdoor" type="text" value="{{ fileData.1 }}" required="required" class="box" style="width: 300px;"/></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><span class="style5">Secret Key </span></td>
                                            <td><input name="secretkey" type="text" value="{{ fileData.2 }}" required="required" class="box" style="width: 300px;"/></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><span class="style5">Public Key </span></td>
                                            <td><input name="publickey" type="text" value="{{ fileData.3 }}" required="required" class="box" style="width: 300px;"/></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><div align="right"><span class="style3"></span></div></td>
                                            <td><span class="style3"><label><input type="submit" name="Submit22" value="Download" /></label></span></td>
                                        </tr>
                                    </table>
                                    {% endif %}
                                    <p align="center" class="style15">&nbsp;</p>
                                </form>
                                <p align="right"><a href="/StopGuessApp/ReceiverHome">Back</a></p>
                            </div>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                    <!-- end #content -->
                    <div id="sidebar">
                        <ul>
                            <li></li>
                            <li>
                                <h2>Menu</h2>
                                <ul>
                                    <li><a href="/StopGuessApp/ReceiverHome">Home</a></li>
                                    <li><a href="/StopGuessApp/ReceiverProfile">My Profile</a></li>
                                    <li><a href="/StopGuessApp/ReceiverViewFiles">View Files</a></li>
                                    <li><a href="/StopGuessApp/ReceiverSearchFiles">Search Files</a></li>
                                    <li><a href="/StopGuessApp/ReceiverReqPublicKey">Request Public Key</a></li>
                                    <li><a href="/StopGuessApp/ReceiverResPublicKey">Public Key Response </a></li>
                                    <li><a href="/StopGuessApp/ReceiverReqSecretKey">Request Secret Key</a></li>
                                    <li><a href="/StopGuessApp/ReceiverResSecretKey">Secret Key Response</a></li>
                                    <li><a href="/StopGuessApp/ReceiverLogout/">Logout</a></li>
                                </ul>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">&nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <p>Copyright &copy; {% now "Y" %} StopGuess- A Framework for Public-key Authenticated Encryption with Keyword Search.</p>
        </div>
        <!-- end #footer -->
    </div>
{% endblock %}