{% extends "StopGuessApp/base.html" %}
{% load static %}

{% block title %} Sender Registration {% endblock %}

{% block Bodycss %}owner_body{% endblock %}

{% block content %}
    <style type="text/css">
            <!--
            .style1 {font-size: 24px}
            .style2 {color: #712B77}
            -->
        </style>
    <div id="wrapper">
        <div id="menu">
            <ul>
                <li><span><a href="/StopGuessApp">Home</a></span></li>
                <li class="current_page_item"><a href="/StopGuessApp/SenderLogin">Data Sender</a></li>
                <li><a href="/StopGuessApp/ReceiverLogin">Data Receiver</a></li>
                <li><a href="/StopGuessApp/CloudLogin">Cloud Server</a></li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="header">
            <div id="logo">
                <h1><img src="{% static "Images/Key2.gif" %}" width="700" height="50"></img></h1>
            </div>
            <div id="search">
                <form method="get" action="">
                    <fieldset>
                        <input type="text" name="s" id="search-text" size="15" value="enter keywords here..."/>
                        <input type="submit" id="search-submit" value="GO"/>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="splash">&nbsp;</div>
        <!-- end #header -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                        <div class="post">
                            <table width="550" border="0" cellspacing="2" cellpadding="2">
                                <tr align="center">
                                    <td width="500"><h2 class="title"><a href="#">Data Sender Register</a></h2></td>
                                </tr>
                            </table>
                            <div class="entry">
                                <form action="/StopGuessApp/SenderRegister/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table width="500" border="0" cellspacing="2" cellpadding="2">
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="name">Sender User Name (Required)</label>
                                            </td>
                                            <td>
                                                <input type="text" id="userid" name="userid" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="password">Password (Required)</label></td>
                                            <td>
                                                <input type="password" id="pass" name="pass" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="name">Sender Name (Required)</label>
                                            </td>
                                            <td>
                                                <input type="text" id="oname" name="oname" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="dob">Date of Birth (Required)</label>
                                            </td>
                                            <td>
                                                <input type="date" id="dob" name="dob" class="box" style="width: 275px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="gender">Select Gender (Required)</label>
                                            </td>
                                            <td>
                                                <select id="gender" name="gender" class="box" style="width: 287px;">
                                                    <option>-Select Gender-</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Other</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="email">Email Address (Required)</label>
                                            </td>
                                            <td>
                                                <input type="email" id="email" name="email" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="mobile">Mobile Number (Required)</label>
                                            </td>
                                            <td>
                                                <input type="text" id="mobile" name="mobile" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="address">Your Address</label>
                                            </td>
                                            <td>
                                                <textarea id="address" name="address" rows="4" class="box" style="width: 272px;"></textarea>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="pincode">Enter Pin Code (Required)</label>
                                            </td>
                                            <td>
                                                <input type="text" id="pincode" name="pincode" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="location">Enter Location (Required)</label>
                                            </td>
                                            <td>
                                                <input type="text" id="location" name="location" class="box" style="width: 272px;" required="required"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="pic">Profile Picture (Required)</label>
                                            </td>
                                            <td>
                                                <input type="file" id="imgFile" name="imgFile" class="box" style="width: 272px;"/>
                                            </td>
                                        </tr>
                                        <tr style="height: 75px;">
                                            <td colspan="2" align="center">
                                                {% if messages %}
                                                    <div class="message_display">
                                                        {% for message in messages %}
                                                            {% if message.tags %}
                                                                <p align="center" class="{{ message.tags }}">{{ message }}</p>
                                                                <script>
                                                                    alert("{{ message }}")
                                                                </script>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr style="height: 50px;">
                                            <td colspan="2" align="center">
                                                <input name="submit" type="submit" value="REGISTER"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="500" border="0" cellspacing="2" cellpadding="2">
                                        <tr>
                                            <td width="500">
                                                <div align="left" class="style28">
                                                    <p align="right"><a href="/StopGuessApp/SenderLogin">Back</a></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end #content -->
                    <div id="sidebar">
                        <ul>
                            <li></li>
                            <li>
                                <h2>Menu</h2>
                                <ul>
                                    <li><a href="/StopGuessApp/SenderLogin">Data Sender</a></li>
                                    <li><a href="/StopGuessApp/ReceiverLogin">Data Receiver</a></li>
                                    <li><a href="/StopGuessApp/Device1Login">Cloud Serve</a></li>
                                </ul>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">&nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <p>Copyright &copy; {% now "Y" %} StopGuess- A Framework for Public-key Authenticated Encryption with Keyword Search.</p>
        </div>
        <!-- end #footer -->
    </div>
{% endblock %}